# OS and IDE
.emacs*
.c9
*.flymake
*~
.#*
.idea
*.sublime-*

# phpmyadmin
phpmyadmin/*

# npm
node_modules
npm-debug.log

# project-specific
public/css/sourcemaps/**/*.map
public/js/sourcemaps/**/*.map
public/**/*.min.js
public/**/*.css
!public/js/lib
!public/css/lib

# grunt & gulp
.grunt
.gulp

# gradle
.gradle
out
.htaccess
