# OS and IDE
.emacs*
.c9
*.flymake
*~
.#*
.idea
*.sublime-*

# bower
bower_components
public/bower

# phpmyadmin
phpmyadmin/*

# npm
node_modules
npm-debug.log

# project-specific
public/sourcemaps/**/*
public/sourcemaps/**/*
public/**/*.css
views/**/*.html

# grunt & gulp
.grunt
.gulp

# gradle
.gradle
out
.htaccess
