@import "maxin/lesshat";

@import "maxin/marchen";

@import "common/alert";

//*---------------------------------------------------------------------------------------*/
//*  从这里开始less文件
//*---------------------------------------------------------------------------------------*/

body {
  padding:10px;
  color:green;
  margin:0;
  background-color: @bg-grey;
  text-align:center;
  color:green;
  font-size:12px;
  font-size:12px;
}

h1 {
  .name {
    text-align:center;
  }
  .time {
    color:red;
  }
  text-align: center;
  color:@text-grey;
  background-color:red;
  width:120px;
  height:130px;
  text-align:center;
  font-size:1em;
}