@import "maxin/lesshat";

@import "maxin/marchen";

/*---------------------------------------------------------------------------------------*/
/*  从这里开始less文件
/*---------------------------------------------------------------------------------------*/

body {
  background-color: @bg-grey;
}

h1 {
  text-align: center;
  color:@text-grey;
}