//-------------------------------------------------//
//|          引入依赖
//-------------------------------------------------//
//-------------------------------------------------//
//|          弹窗样式
//-------------------------------------------------//
.alert {
    background:red;
    color:green;
    font-size:50px;
    text-align:center;
}