//- 每个页面的布局

// 定义路径
- var baseCss = '../../public/css/helloFE/'
- var baseImage = '../../public/images/helloFE/'
- var baseJs = '../../public/js/helloFE/'
- var baseBower = '../../public/bower/'
doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    // 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
    <!--[if lt IE 9]>
    script(src='../../public/bower/html5shiv/dist/html5shiv.min.js')
    <![endif]-->
    meta(name='apple-mobile-web-app-capable', content='yes')
    // 苹果允许全屏模式
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    // 苹果浏览器顶部状态栏颜色
    meta(name='format-detection', content='telephone=no')
    // 忽略数字为电话号码
    link(rel='apple-touch-icon-precomposed', href='/favicon.png')
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='icon', type='image/x-icon', href='/favicon.png')
    block title
    block style

// 头部
include header.jade

block body

// 尾部
include footer.jade

script(src='#{baseBower}jquery/dist/jquery.min.js')

block script
